@import "../../styles/mediaQueries";

#cocktailDetails{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
  overflow: auto;
  padding-top: 70px;
  #cocktailThumb, article{
    width: 40vw;
    max-height: 70vh;
    object-fit: contain;
  }
  #cocktailThumb{
    height: auto;
  }
  h1{
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  h2{
    font-size: 1.1rem;
    margin-bottom: 8px;
  }
  ul, ol{
    padding-left: 20px;
    margin-bottom: 32px;
  }
  ul{
    list-style: disc;
  }
  ol{
    list-style: decimal;
  }
}

@include mediaPhone{
  #cocktailDetails{
    display: block;
    // flex-direction: column;
    padding-left: 18px;
    padding-right: 18px;
    #cocktailThumb, article{
      width: 100%;
    }

    #cocktailThumb{
      margin-bottom: 25px;
    }
  }
}