#filterMenu{
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background:
    linear-gradient(
    rgba(0, 0, 0, .6), 
    rgba(0, 0, 0, .6)
    ),
    url('../../media/images/frontPage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  >div{
    margin: 0 20px;
    background-color: #fafafa;
    border-radius: 50px;
    flex-grow: 0;
  }
  h1{
    color: white;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    bottom: 60vh;
  }
}
  
.onFP{
  height: 100vh;
  transition: all .5s;
  >div{
    padding: 0px 20px 20px;
  }
}

.offFP{
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  transition: all .5s;
  z-index: 1;
  height: 105px;
  >div{
    padding: 10px 20px 10px;
  }
}

@media screen and (max-width: 900px){
  #filterMenu{
    h1{
      color: white;
      font-size: 48px;
      font-weight: bold;
      position: absolute;
      top: 70px;
      white-space: nowrap;
    }
    >div{
      margin-bottom: 16px;
    }
  }
}